.part1{ 
    height: 40rem !important;
    color: black;
    background-image: url("https://d1b747rczec55w.cloudfront.net/assets/home-bg-4dc4b66b752c785811e5c6b1d3df1f90b953d05e0ff367ff34f8823f34a0036a.svg");
    background-size: cover !important;
    background-position: bottom !important;
}
.btn{
  border-radius: 20px;
  border: 1px solid #007bff;
  background-color: #007bff;
  padding: 6px;
  color: white;
}
.btn:hover{
 background-color: #05299e;
}
.titre{
  color: #007bff;
  font-family: Garamond (serif);
  font-weight: initial;
}
.part1 h1{
  padding-top: 15% !important;
  padding-left: 10%;
  font-family: sans-serif !important;
  font-size: 2.5rem;
  line-height: 1.5em;
  word-spacing: 3.5px;
}

.hr{
  border-top: 1px solid rgb(204, 196, 196)!important;
}

.ul{
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
  font-size: 20px;
  font-family: sans-serif;
}
.ull{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-size: 20px;
  font-family: sans-serif;
}

.logo{
  height: 2.5em !important;
  width: 60% !important;
}
/*services*/
.service{
  margin-top: 80px;
  margin-bottom: 80px;
}
.service p,h1{ 
  margin: 0px 0px 0px 35px;
}
.image{
  height: 150px !important;
  border-radius: 4%;
 
}
.service h1{
  font-size: 1.5rem;
  font-family: sans-serif;
  padding-bottom: 10px;
}
.service p{
  font-size: 1rem;
  font-family: sans-serif;
  padding-bottom: 20px;
  color: gray;
  word-spacing: 2px;
}
.service h3{
  font-family: sans-serif;
}
/*card*/
.container {
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.card {
  margin-top: 5px !important;
  margin-left: 10px;
  background-color: white;
  height: 25rem;
  width: 50vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(190, 187, 187) !important;
  color: black;
}
.card__name {
  margin-top: 15px;
  font-size: 1.5em;
  font-family: sans-serif;
  font-weight: bold;
}
.card__image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 1px solid rgb(190, 187, 187) ;
  margin-top: 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size: 1.2em;
  font-family: sans-serif;
  padding: 20px;
}
.p{
  padding: 0px 20px 20px 20px;
  color: gray;
  font-family: sans-serif;
}
.cart{
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/*fin card*/
.flex{
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
  display: flex;
  justify-content: space-around;
}
.imgb{
  border-radius: 20px;
}
.item{
  margin-top: 10rem !important;
}
.item p{
  color: gray;
  font-family: sans-serif;
  font-size: 1rem;
  margin-left: 33px;
}
.item h1{
  font-family: sans-serif;
  font-size: 3rem;
  word-spacing: 10px;
  line-height: 4rem;
}
.flexi{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100vh;
}

.fl{
  display: flex;
}
.fl a{
  margin-top: 0.2rem;
  color: #007bff;
  cursor: pointer;
}
.icn{
  filter: invert(32%) sepia(57%) saturate(6114%) hue-rotate(198deg) brightness(100%) contrast(111%);
}
/******footer*****/
.footer{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 3rem;
  font-size: 18px;
  color: rgb(80, 79, 79);
}
footer ul a{
  color: rgb(143, 139, 139) !important;
  font-size: 70%;
  font-family: sans-serif;
 
}
footer ul li{
  list-style: none;
}

footer p{
  text-align: center;
  font-size:1em;
}
h4{
 font-family: sans-serif;
 font-size: 80%;
}
footer div ul li a img{
  margin-top: 8px;
}
footer h3{
  color: #007bff;
  font-size: 1.5em;
  margin-top: -10px;
}
/*partie2*/
.imgp{
  height: 7em;
  margin-left: 1em;
}
.part2 h1{
  font-size: 1.5rem;
  font-family: sans-serif;
  padding-bottom: 3em;
}
.part2 h2{
  font-size: 1rem;
  font-family: sans-serif;
  padding-bottom: 10px;
  text-align: center;
}
.part2 p{
  font-size: 1rem;
  font-family: sans-serif;
  padding-bottom: 20px;
  color: gray;
  word-spacing: 2px;
  text-align: center;
}
.part3{
  background-image: url("https://previews.123rf.com/images/ykvision/ykvision1812/ykvision181200003/116076776-empty-white-interior-blank-wall-with-lounge-armchair-plant-tree-3d-render-illustration-mockup-.jpg") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  margin: 0 10em 1em 10em;
  border: 1px rgb(206, 198, 198) solid;
}
.part3 h1{
  font-size: 1.5rem;
  font-family: sans-serif;
  margin-top: 5em;
}
.part3 p{
  font-size: 1.3rem;
  font-family: sans-serif;
  color: rgb(102, 100, 100);
  word-spacing: 2px;
  text-align: start;
  margin-top: -2.5em;
  margin-left: 1.8em;
}
.uli{
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
  padding: 5px;
  text-align: left;
}
.p3{
  margin: 4em !important;
}
.uli .p1{
  color: rgb(102, 100, 100);
  font-family: sans-serif;
  color: rgb(102, 100, 100);
  word-spacing: 2px;
  text-align: start;
}
.uli1{
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  font-family: sans-serif;
  color: black;
  font-weight: bold;
}
.uli1 li{
  margin-left: -3em;
}
